@import './reset.styl'
@import './border.styl'
@font-face
  font-family 'Barlow Condensed'
  src url('./fonts/BarlowCondensed-Medium.ttf')
.num
  font-family "Barlow Condensed", "Microsoft YaHei"
a
    text-decoration none
html, body
    height 100%
body
    font-family "Microsoft YaHei", '微软雅黑',"MicrosoftJhengHei",'华文细黑',STHeiti,MingLiu
    color  $fc1
.num
  font-family "Barlow Condensed", "Microsoft YaHei"
.tr
    color $red
.tb
    color $blue
.tr2
    color $red2
.tb2
    color $blue2
.fc3
    color $fc3
.tr
    text-align right
.tl
    text-align left
.tc
    text-align center
.ellipsis
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
.hide
    display none
.bg-m-10
    background #F2F3F4
    height 10px